.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    
}
.toDoListText{
    background-color:#adc178;
    font-size: 20px;
    font-family: serif;
    font-weight: 400;
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px black;
    border: none;
    align-items: center;
}
.toDoList{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}
.addTask{
    border: none;
    height: 40px;
    box-shadow: 0 0 5px black;
    width: 70px;
    background-color: #adc178;
}
.addTask:hover{
    background-color:black;
    color: white;
}
.collection{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}
.textView{
    width: 505px;
    height: 540px;
    background-color: #dde5b6;

}
.buttonView{
    height: 540px;
    width: 70px;
    background-color: #dde5b6;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.cancel-icon{
    display: flex;
    background-color: red;
    color: white;
    border-radius: 4px;
}