body{
  height: 100%;
  /* height: 100vh; */
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;

}
#ONE{
  background-color: #ef476f;
}
#TWO{
  background-color: #ffd166;
}
#THREE{
  background-color: #06d6a0;
}
#FOUR{
  background-color: #118ab2;
}
.instagram{
  background-color: #06d6a0;
  /* width: 150%; */
}
#FIVE{
  background-color: #fb5607;
}
td{
  height: 250px;
  padding: 50px;
  border: 10px solid white;
  width: 100px;
  margin: 10px;
  border-radius: 17px;
  
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(55%);
  transform: translateX();
}

