p{
color: green;
}

.div-one{
    background-color: aquamarine;
}
.div-two{
    background-color: bisque;
    text-align: center;
    border-radius: 20px;

}
.span{
    background-color: rgb(212, 163, 163);
    border: solid 2px rgb(155, 73, 22);
    border-radius: 15px;
}
.center-div{
    margin: auto;
    width: 35%;


}
.blue{
    background-color: aqua;
}
body{
    background-color: azure;

}