body{
  background-image: linear-gradient(-45deg, #6b1313, #153969);
}

.Height{
    justify-content: center;
    align-items: center;
    display: flex;
 }
 .Inside-Height{
    background-image: linear-gradient(#b5F8,rgba(113, 26, 44, 0.333));
     color:white;
     font-size: 50px;
     padding: 10px;
     border-radius: 15px;
     padding-left: 50px;
     padding-right: 50px;
  transition: 0.5s ease-in-out;
 }


 .Inside-Height:hover{
  color: #f94144;
  transform: translate3d(10px, 10px, 2px);
 }
 .Container{
     margin: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     font: 20px;
     gap: 3%;
     height: 40vh;
 }
 .Container-Two{
   margin: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   font: 20px;
   gap: 3%;
   height: 40vh;
 }
 .div{
     width: 40%;
     height: 90%;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 20px;
 }
 .One{
   /* background-image: linear-gradient();   */
   background-image: radial-gradient(ellipse farthest-corner, rgb(210, 147, 117), rgb(6, 35, 24));
  display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 .Two{
   background-image: radial-gradient(ellipse farthest-corner,#2ba6b2,#471069);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 .Three{
  background-image: radial-gradient(ellipse farthest-corner,#52b788 ,#003049);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 .Five{
  background-image: radial-gradient(ellipse farthest-corner,#ac4927,#111011);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 .Four{
  background-image: radial-gradient(ellipse farthest-corner,#d9a647,#620a1a);
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
 }
 .Six{
  background-image: radial-gradient(ellipse farthest-corner,#386f48,#181c1c);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 .Demon{
    font-size: 24px;
    color: white;
    background-color: #2a2a2a;
    padding: 10px;
    border-radius: 15px;
    transition: .4s ease-in-out;
 }
 .Demon:hover{
   transform: scale(1.1);
   color: black;
   background-color: white;
 }

 .Inside-One{
     flex-direction: row;
     justify-content: center;
     display: flex;
     align-content: center;
     width: 50vh;
     height: 40vh;
     gap: 3%;
     border-radius: 20%;
 }
 .Column{
     flex-direction: column;
 }
 .Radius img{
    border-radius: 10%;
    border: 1px solid white;
    box-shadow: white;
 }
 img{
  transition: 0.4s ease-in-out;
  box-shadow: 0 4px 8px #171616a1;
 }
 img:hover{
  transform: scale(1.25);
 }


