.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.mini{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}
.div{
    width: 500px;
    height:300px ;
    margin-top: 20px;
}
.one{
 background-color:#f5f5eb ;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 5px;
}
.one-1{
    font-size: 30px;
}
.one-2{
    text-align: center;
}
.btn{
    border-radius: 5px;
    font-size: 20px;
}
.two{
 background-color: #134333;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 5px;
}
.two-1{
    font-size: 30px;
}
.two-2{
    text-align: center;

}
.three{
 background-color: #d9d0c1;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 5px;
}
.three-1{
    font-size: 30px;
}
.three-2{
    text-align: center;
}

.four{
 background-color: #ebe6e0;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 5px
}
.four-1{
 font-size: 30px;
}
.four-2{
 text-align: center;
}
