body{
    background-color:rgb(111, 180, 112);
    
}
.heading-container{
    background-color: white;
    align-items: center;
    text-align: center;
    font-size: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#div-1-th-1{
   background-color:rgb(247, 28, 28);
  
}
#tr1{
    background-color: rgb(183, 208, 16);
    color: bisque;
    font-size: 200%;
}
.tr2{
    background-color: black;
    color: bisque;
    font-size: 200%;
}
.tr3{
    background-color: black;
    color: bisque;
    font-size: 200%;
}
.tr4{
    background-color: black;
    color: bisque;
    font-size: 200%; 
}



