div{
    background-color: rgb(62, 181, 62);
}
.First{
    background-color: rgb(26, 127, 76);
    text-align: center;
    border-radius: 15px;
}
.Second{
    background-color: rgba(255, 0, 0, 0.795);
    text-align: center;
    border-radius: 15px;
}
.Third{
    background-color: rgb(255, 0, 234);
    text-align: center;
    border-radius: 15px;
}