#th1{
    background-color: black;
    color: bisque;
    font-size: 300%;
}
.tr1{
    color: bisque;
    font-size: 200%;
}
.tr2{
    color: bisque;
    font-size: 100%;
    
}
.tr3{
    font-size: 100%;
    color: bisque;
}
